<mat-card id="form-contato" >
    <mat-card-header>
      <mat-card-title>Formulario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div>
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput ngModel name="nome" type="text">
              </mat-form-field>
            </div>

            <div>
            <mat-form-field appearance="fill">
              <mat-label>email</mat-label>
              <input matInput ngModel name="email" type="text">
            </mat-form-field>
            </div>

            <div>
            <mat-form-field appearance="fill">
                <mat-label>telefone</mat-label>
                <input matInput ngModel name="telefone" type="text">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field appearance="fill">
                <mat-label>Mensagem</mat-label>
                <textarea matInput ngModel name="mensagem"></textarea>
              </mat-form-field>
            </div>

            <div>
              <button mat-raised-button color="primary" type="sumbit">Enviar</button>
            </div>
        </form>
    </mat-card-content>
  </mat-card>